# can be accessed with process.env.npm_config_xxx 
# or CONFIG.get('petstore_URL')
petstore_URL=http://93.126.97.71:10080
petstore_URL_prefix_path=/api
petstore_swagger_URL=http://93.126.97.71:10080/api/swagger.json
