# can be accessed with process.env.npm_config_xxx 
# or CONFIG.get('petstore_URL')
petstore_url=http://93.126.97.71:10080
petstore_url_prefix_path=/api
petstore_swagger_url=http://93.126.97.71:10080/api/swagger.json
